:root{
    --EerieBlack: #1F1F1F;
    --Battleshipgray : #8F8F8F;
    --White: #FEFFFE;
    --Xanthous: #FBAE3C;
    --RedBread: #F35C5C;
    --BlueRule: #0066FF;
    /* -- Monserat: 'Montserrat', sans-serif;
    -- MonseratAlt: 'Montserrat Alternates', sans-serif;
    --Roboto: 'Roboto', sans-serif; */

}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

body{
    background-color: var(--White);
    position: relative;
}
nav{
    display: flex;
    gap: 45rem;
    align-items:center ;
    position: center;
    justify-content: space-around;
    background-position: center;
    color: rgb(255, 255, 255);
    margin-top: 1rem;
    padding: 5px;
    opacity: 1;
    z-index: 99;
    mix-blend-mode: difference;
    position: fixed;
    top: 0;
    width: 100%;
    background-color:transparent;
}

.logo{
    background-image: url(./images/logo/logoSimplev3.svg);
    background-size: 50px;
    background-color: transparent;
    width: 5px;
    height: 5px;
    background-position: center;
    background-repeat: no-repeat;
    padding:30px;
    cursor: pointer;
    /* background-color: var(--Battleshipgray); */
}

nav i{
    font-size: 2rem;
    position:relative;
    cursor: pointer;
}

.hero{
    background-color: var(--White);
    height: 100svb;
    background-image: url(./images/backgroundAlt3.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: 0%;
    background-attachment: fixed;

}
.blob{
    background-image:url(./images/NiceCurve1.svg);
    background-color: var(--White);
    position: relative;
    background-position: 0% 35%;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 10% ;
    /* background-attachment: fixed; */
    z-index: 0;
}
.herotext{
    position: relative;
    display: flex;
    font-size: 2rem;
    margin: 3rem;
    flex-direction: column;
    outline-color: var(--White);
    text-align: center;
    align-items: center;
    /* max-width: 100svh; */
    /* padding: 20%px 50%px 20%px 20%px; */
}
.h1{
    color:var(--White);
    font-style:normal;
    font-weight: 800;
    font-size: 6rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-bottom: 1%;
}
.h3{
    color:var(--White);
    font-style: normal;
    font-weight: 800;
    font-size: 2.5rem;
    font-family: 'roboto', sans-serif;
    text-align: center;
    padding-bottom: 1%;
}
span{
    font-weight: bold;
    /* background-color: #FEFFFE; */
    color: var(--RedBread);
    text-align: center;

}
.second-paragraph{
    color:var(--White);
    font-style: normal;
    font-weight: 500;
    font-size: rem;
    font-family: 'Montserrat', sans-serif;
    margin: .1rem 0 1rem 0;
    text-align: center;
    padding-bottom: 3%;
}

.buttontallk {
    background-color:var(--RedBread);
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #FEFFFE;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    justify-content: center;
    line-height: 2.1rem;
    padding: 1rem 2rem;
    position: relative;
    text-align: center;
    text-decoration: none var(--White) solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 460px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .buttontallk:focus {
    outline: 0;
  }

  .buttontallk:after {
    content: '';
    position: absolute;
    border: 1px solid var(--White);
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
  }

  .buttontallk:hover:after {
    bottom: 2px;
    left: 2px;
  }


  ul{
      padding: 1% 1% 1% 1%;

  }

  li{
      display: inline;
  }

  ul li a{
      text-decoration: none;
      color: var(--White);
      display: inline-block;
      font-size: 3rem;
      margin: .5rem;
      padding-bottom: 5%;

  }
  ul li a :hover{
    transform: scale(80%);
    transition: 0.5s;
  }
  .scrolup
{
  position: relative;
  z-index: 9999;
  font-size: 4rem;
  color: var(--Xanthous)
}
.scrolup :hover
{
  transform: translateY(-10px);
  transition: 0.5s;
}
   .section1{
    background-color:var(--EerieBlack);
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 5%;
  }
  .section1 h2{

    color:var(--White);
    font-style: normal;
    font-weight: 800;
    font-size: 2.5rem;
    font-family: 'roboto', sans-serif;
    text-align: center;
    padding-bottom: 2%;
}
  .section2{
    background-color: var(--White);
    height: 80svb;
    background-image: url(./images/backgroundAlt3.svg) ;
    opacity: 0.9;
    background-position: center;
    /* background-repeat: repeat-y; */
    background-position: 55% 50%;
    background-size: 400%;
    background-attachment: fixed;
    

}
.section2text
{
  
  position: relative;
  display: flex;
  gap: 2rem;
  font-size: 2rem;
  margin: 3rem;
  flex-direction: column;
  outline-color: var(--EerieBlack);
  text-align: center;
  align-items: center;
  /* max-width: 100svh; */
  /* padding: 20%px 50%px 20%px 20%px; */

}

div .gridtext
{
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: baseline;
  justify-items: stretch;
  
    gap: 2rem;
    margin: 0% 15% 3% 15%;
}

.section2 h1
{
  color: var(--EerieBlack);
  font-style:normal;
  font-weight: bolder;
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 5% 0%;
}
.section2 h3
{
  color:var(--RedBread);
  font-style: normal;
  font-weight: 800;
  font-size: 1.5rem;
  font-family: 'roboto', sans-serif;
  text-align: center;
  padding-bottom: 0.3%;
}
.section2 p
{
  color:var(--EerieBlack);
  font-style: normal;
  font-weight: bold;
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
  margin: .1rem 0 1rem 0;
  text-align: center;
  padding-bottom: 0.5%;
}
.section3 
{
  position: relative;
  display: flex;
  background-color:transparent;
  /* outline: 2px solid black; */
  padding: 7% 0%;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.section3 .wave{
    top: 10%;
    left: -12%;
    width: 240%;
    height: 120%;
    background: url(./images/wave-animation2.svg);
    background-size: 130% 100%;
    padding: 14% 12%;
    /* outline: 2px solid black; */
    background-repeat: no-repeat;
    position: absolute;
    object-position: 0%;
  }

.section3 .wave#wave1{
    z-index: 1000;
    opacity:1;
   top:-100%;
    animation: animatewave 10S linear infinite;
  }

@keyframes animatewave{
  0%
  {
      left: -137%;
  }
  100%
  {
      left: 0%;
  }

}
.section3 .wave#wave2{
  z-index: 999;
  opacity: 0.5;
  top: -110%;
  animation: animatewave2 10S linear infinite;
}
@keyframes animatewave2{
  0%
  {
      left: 0px;
  }
  100%
  {
      left: -137%;

}

}

.section3 .wave#wave3{
  z-index: 999;
  opacity: 0.7;
  top: -120%;
  animation: animatewave3 15S linear infinite;
}

@keyframes animatewave3{
0%
{
    left: -137%;
}
100%
{
    left: 0%;
}
}
.section3 .wave#wave4{
  z-index: 997;
  opacity: 0.2;
  top: -100%;
  animation: animatewave4 13S linear infinite;
}

@keyframes animatewave4{
0%
{
    left: 0px;
}
100%
{
    left: -137%;
}
}
footer{
  position: relative;
  display: flex;
  background-color:var(--BlueRule);
  /* outline: 2px solid black; */
  padding: 24px 0%;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

footer .background
{
  background-color: var(--RedBread);
  position: relative;
}
footer.social-icon{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0;
  flex-wrap: wrap;
}

.social-icon li a {
  font-size: 2em;
  color: var(--White);
  margin: 0 10px;
  display: inline;

}
.social-icon ul li a {
  transform: translateY(-10px);
  transition: 0.5s;
}

footer .register{
  color:var(--White );
  position: relative;
  display: flex;
  text-align: center;
  margin: -2% 12% 0% 12%;
}


@media (max-width: 640px) {
  .blob
  {
    background-position: 60% 35%;
    background-size: 160%;
    padding: 2%
  }
  nav{
    gap: 10rem;
    background-color:var(--Battleshipgray);
    margin-top: -2rem;
    padding: 0px;
    opacity: 1;
    mix-blend-mode: normal;
    top: 0;

}
.logo{
 
  background-size: 35px;
  background-position: 1em 1.9em;
}
nav i{
  font-size: 1.2rem;
  padding-top: 0.9em;
}

.h1{
  font-size: 2rem;
  padding-top: 15%;
  padding-bottom: 5%;
}
.h3{
  font-size: 1rem;
  text-align: center;
  padding-bottom: 1%;
}

.second-paragraph{
  color:var(--White);
  font-style: normal;
  font-weight: bold;
  font-size: 0.7rem;
  padding-bottom: 0.5%;
}

.buttontallk {
 
  font-size: .9rem;
  font-weight: bold;
  line-height: 1rem;
  padding: .75rem 1.5rem;
}


ul{
    padding: 1% 1% 1% 1%;

}

ul li a{
    text-decoration: none;
    color: var(--White);
    display: inline-block;
    font-size: 1.5rem;
    margin: 0px;

}
ul li a :hover{
  transform: scale(80%);
  transition: 0.5s;
}
.scrolup
{
  font-size: 2rem;
}
.section1{
 
  padding: 20%;
}
.section1 h2{

  color:var(--White);
  font-style: normal;
  font-weight: bold;
  font-size: 1.7rem;
  font-family: 'roboto', sans-serif;
  text-align: center;
  padding-bottom: 8%;
}
.social-icon li a {
  font-size: 1.5em;
  color: var(--White);
  margin: 0 px;
  display: inline;
}
.section2 h1
{
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 10% 0%;
}
.section2 h3
{
  font-size: 1.2rem;
 
}
.section2 p
{
 font-size: 0.7rem;
 font-weight: bold;
 margin: .1rem 0 .3rem 0;
 padding-bottom: 0.5%;
}
div .gridtext
{
  
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: baseline;
  justify-items: stretch;
  
    gap: 2rem;
    margin: 0% 15% 3% 15%;
}
footer .register{
 font-size: .5rem;
  margin: -2% 12% 0% 12%;
}
}
